# Игнорировать виртуальные окружения Python
venv/
.env/

# Игнорировать временные файлы Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Игнорировать файлы Ansible retry
*.retry

# Игнорировать конфиденциальные данные
inventory/host_vars/*
secrets.yml

# Игнорировать IDE и редакторские файлы
.idea/
.vscode/

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать каталоги и файлы Molecule (если используется)
.molecule/
.ssh/

# Файл с паролем для Vault (если используется)
.vault_password.txt
*.vault

# Исключаем временные файлы Ansible
*.retry

# Локальные изменения инвентаря, которые не должны попасть в общую ветку
inventory.local

# Другие системные файлы
.DS_Store