[Unit]
Description=Prometheus Node Exporter
After=network-online.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
Type=simple
Restart=on-failure
ExecStart={{ node_exporter_install_dir }}/node_exporter --web.listen-address={{ node_exporter_listen_address }} {{ node_exporter_extra_args }}

[Install]
WantedBy=multi-user.target