services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: {{ odoo_db_name }}
      POSTGRES_USER: {{ odoo_db_user }}
      POSTGRES_PASSWORD: {{ odoo_db_password }}
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

  odoo:
    image: odoo:{{ odoo_version }}
    depends_on:
      - db
    ports:
      - "{{ odoo_port }}:8069"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER={{ odoo_db_user }}
      - DB_PASSWORD={{ odoo_db_password }}
    volumes:
      - odoo_data:/var/lib/odoo
    restart: always

volumes:
  db_data:
  odoo_data: