services:
  traefik:
    image: "traefik:latest"
    container_name: traefik
    restart: always
    
   
    command:
{% set cmds = [
  '--api=true',
  '--api.dashboard=true',
  '--providers.docker=true',
  '--providers.docker.exposedbydefault=false',
  '--providers.docker.network={{ traefik_docker_network_name }}',
  '--entrypoints.web.address=:80',
  '--entrypoints.websecure.address=:443',
  '--entrypoints.web.http.redirections.entrypoint.to=websecure',
  '--entrypoints.web.http.redirections.entrypoint.scheme=https',
  '--certificatesresolvers.mytlschallenge.acme.tlschallenge=true',
  '--certificatesresolvers.mytlschallenge.acme.email=services.n8n@winzardy.com',
  '--certificatesresolvers.mytlschallenge.acme.storage=/letsencrypt/acme.json'
] %}

{% if traefik_api_insecure %}
  # --api.insecure=true открывает Dashboard без авторизации
{%   set _ = cmds.append('--api.insecure=true') %}
{% else %}
{%   set _ = cmds.append('--api.insecure=false') %}
{% endif %}

{% if traefik_enable_dashboard_access %}
{%   set _ = cmds.append('--entrypoints.traefik_api.address=:' ~ traefik_dashboard_port) %}
{% endif %}

{% for cmd in cmds %}
      - "{{ cmd }}"
{% endfor %}

    ports:
      - "80:80"
      - "443:443"

{% if traefik_enable_dashboard_access %}
      - "{{ traefik_dashboard_port }}:{{ traefik_dashboard_port_in }}"
{% endif %}

    volumes:
      - "{{ traefik_volume_name }}:/letsencrypt"
      - /var/run/docker.sock:/var/run/docker.sock:ro

    networks:
      - {{ traefik_docker_network_name }}

networks:
  {{ traefik_docker_network_name }}:
    external: true

volumes:
  {{ traefik_volume_name }}:
    external: true 
